* {
    margin: 0;
}

header {
    background-color: #DC920a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;


}

.titulo {
    color: #c41d17;
}

.menu {
    color: #99211D;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-right: 80px;
}

main {
    margin: 0px;
    padding: 30px;
    background-color: #050524;

}

video {
    width: 560px;

}


img {
    width: 560px;
}

a:visited {
    color: #050524;
}
 .container {
    margin: 10px;
 }

 .container h1 {
    margin-top: 6px;
    margin-bottom: 12px;
 }

 p {
    line-height: 1.5;
 }

.artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    width: 560px;
    text-align: justify;
    color: #e9dcdb;
    margin: 5rem 2rem;
    box-shadow: 0px 0px 10px  #d89a25;
    padding: 2rem 2rem;
    border-radius: 10px;
    background-color: #000000;


}

article h1 {
    margin: 3%;
    text-align: center;
    font-size: 30pt;
    color: #a11510;
}

/* Mobile */
@media screen and (max-width: 1024px) {
    body {
        max-width: 100vw;
    }

    article {
        width: 75%;
        margin: 1rem;
    }

    article h1 {
        margin: 1%;
        text-align: center;
        font-size: 18pt;
        color: #a11510;
    }

    video {
        width: 60%;
        margin: 10px 50px 10px 50px;
    }

    iframe {

        width: 90%;
    }

    img {
        width: 90%;
    }

    .container {
        color: #dc920a;
    }

}